@import '@standardnotes/stylekit/dist/stylekit.css';

body,
html {
  background-color: var(--sn-stylekit-background-color);
  color: var(--sn-stylekit-foreground-color);
  font-family: var(--sn-stylekit-sans-serif-font);
  font-size: var(--sn-stylekit-font-size-editor);
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.main {
  height: 100vh;
}

textarea {
  background-color: inherit;
  outline: none;
  padding: 10px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  line-height: 1.4;
  resize: none;
  color: var(--sn-stylekit-foreground-color);
}

//.main .excalidraw {
//  --default-bg-color: var(--sn-stylekit-background-color);
//  --icon-fill-color: var(--sn-stylekit-foreground-color);
//  --color-primary: #0000ff !important;
//  --color-primary-darker: #f783ac;
//  --color-primary-darkest: #e64980;
//  --color-primary-light: #f2a9c4;
//}
